


.result-main{
    width: 100%;
    height: auto;
  
}

.result-p{
    width: 80%;
}



.result-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
   
  
}


.groupe{
   width: 50%;
    display: flex;
    justify-content: space-evenly;
  
}


.points{
    width: 45%;
     display: flex;
     justify-content: space-between;
  
 }


.vert{
    color: #31B340;
}
.rouge{
    color: red;
}
.jaune{
    color: #E9C957;
}

.blue{
    color: #69BBF2;
}

.autres-options{
   /* padding-top: 70px;
   width: 100%;
   height: auto; */
}

.result-space{
    height: 32vh;
}


.profiles-content{
    width: 100%;
    height: auto;
    background-color: brown;
    
}


.result-space-profil{
    width: 100%;
    height:15vh ;
    background-color: blueviolet;

}


/* Responsive  */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */


    .result-container{
        width: 100%;
    }
    .groupe{
        width: 70%;
         display: flex;
         justify-content: space-evenly;
       
     }

     .points{
         width: 60%;
     }

     .result-p{
         width: 80%;
     }


     .result-space{
        height: 160vh;
    }
     
    .result-space-profil{
        width: 100%;
        height:10vh ;
        background-color: blueviolet;
    
    }

}
