
@font-face {
    font-family: "AvenirNextLTPro-It";
    src: url("../../../Font/AvenirNextLTPro-It.otf"),
   }


@font-face {
    font-family: "Gilroy-ExtraBold.otf";
    src: url("../../../Font/Gilroy-ExtraBold.otf"),
   }



p,ul,button{
    font-family:"AvenirNextLTPro-It";
    color: rgb(23, 2, 49);
}


h2{
    font-size: 31px;
    font-weight:900;
    font-family:"AvenirNextLTPro-Bold.otf";
}



#profil-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.color{
    display: flex;
    justify-content: space-evenly;
}

.descrip{
    width: 80%;
    height: auto;
}

.about{
    width:80% ;
    height: auto;
    display: flex;
}

.carater{
    width: 50%;
    height: auto;
}

.pour{
    width: 50%;
    height: auto;
}

.carater , .pour,  ul li{
    padding-bottom: 10px;

}

.profil-space{
    width: 100%;
    height: 15vh;
}

.autres{
    width: 80%;
    height: auto;
    display:flex ;
    flex-wrap: wrap;

}

.autres-tile{
    width: 33%;
   display: flex;
}

.autres-space{
    width: 8%;
 
}

.autres-p{
    width: 59%;
    display: flex;
    justify-content: flex-end;

}

.ligne{
    width: 100%;
}

hr{
    width: 100%;

}

.rouge{
    color: #EA4009;
}

.jaune{
    color:#E7D141;
}

 .vert{
     color:#22C017;
 }

 .blue{
     color: blue;
 }



/* Responsive  */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .color{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }

    .descrip{
        width: 85%;
      
    }


    .profil-space{
        height: 7vh;
    }

    
    .about{
        width:85% ;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .pour , .carater{
        width: 100%;
        
    }

    .autres-tile{
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    
    

}