
/* html,
body,
#root {
  height: 100%;
} */

body{
  margin: 0;
  padding: 0;
}




.space{
  width: 100%;
  height: 19vh;
}

p{
  color:rgb(23, 2, 49);

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .space{
    width: 100%;
    height: 0;
  }
}







